<ul class="nav nav-tabs">
<li class="nav-item">
  <a href="#tab1" class="nav-link active" data-toggle="tab">コロナ</a>
</li>
<li class="nav-item">
  <a href="#tab2" class="nav-link" data-toggle="tab">コロナ感染状況</a>
</li>
<li class="nav-item">
  <a href="#tab3" class="nav-link" data-toggle="tab">小児</a>
</li>
<li class="nav-item">
  <a href="#tab4" class="nav-link" data-toggle="tab">政府発表</a>
</li>
</ul>
body
<div class="tab-content">
<div id="tab1" class="tab-pane active"> 
  <img src="https://tk.ismcdn.jp/mwimgs/2/0/1140/img_204b0c955104c25e8cccd11128646cda304053.jpg" alt="" class="img-fluid">
</div>
<div id="tab2" class="tab-pane">
  <div class="table-responsive">
    <table class="table table-sm">
      <tbody>
        <tr>
          <td class="day">1</td>
          <td><p>滝へ</p></td>
        </tr>
        <tr>
          <td class="day">2</td>
          <td><p>花火大会</p></td>
        </tr>
        <tr>
          <td class="day">3</td>
          <td><p>テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト</p></td>
        </tr>
        <tr>
          <td class="day">4</td>
          <td>アメリカへ</td>
        </tr>
        <tr>
          <td class="day">5</td>
          <td>ニューヨークでお買い物</td>
        </tr>
        <tr>
          <td class="day">6</td>
          <td><p>テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・</p></td>
        </tr>
        <tr>
          <td class="day">7</td>
          <td><p>テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・テスト・</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="tab3" class="tab-pane">
<h2 class="border_brown">小児</h2>
  <img src="https://s3-ap-northeast-1.amazonaws.com/static.amanaimages.com/imgroom/rf_preview640/11038/11038002108.jpg" alt="" class="img-fluid">
</div>
<div id="tab4" class="tab-pane">
  <h2 class="border_brown">政府発表</h2>
  <img src="https://free-materials.com/adm/wp-content/uploads/2016/10/adtDSC_2478-750x499.jpg" alt="" class="img-fluid">
</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h2 class="panel-title">最新コロナ感染者情報</h2></div>
  <div class="panel-body">
    <p>全国の最新感染者情報を公開</p>
  </div>
  <div class="panel-footer text-right">更新日 2020/06/15</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h2 class="panel-title">アベノマスク90%普及済み</h2></div>
  <div class="panel-body">
    <p>安倍首相は本日10:00の記者会見でマスク配布状況を報告した。</p>
  </div>
  <div class="panel-footer text-right">更新日 2016/0６/12</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h2 class="panel-title">XXXXXXXXXXXXXXXXXX</h2></div>
  <div class="panel-body">
    <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
  </div>
  <div class="panel-footer text-right">更新日 2016/XX/XX</div>
</div>


table.table.table-hober
  thead.thead-default
    tr
      th= Info.human_attribute_name(:name)
      th= Info.human_attribute_name(:description)
  tbody
    - @infos.each do |info|
      tr
        td= info.name
        td= info.description




= link_to '新規ニュース登録', new_info_path, class: 'btn btn-primary'
